<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--REMIXICONS  -->
    <link href="asset/img/slider.png/remixicon@4.0.0/fonts/remixicon.css" rel="stylesheet" />
    <!-- CSS -->
    <link rel="stylesheet" href="asset/css/style.css" />
    <title>Shuna Academy</title>
</head>

<body>
    <!-- HEADER -->
    <header class="header" id="header">
        <nav class="nav container">
            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li>
                        <a href="#home" class="nav__link active-link">
                            <span> Shuna Academy </span>
                        </a>
                    </li>
                    <li>
                        <a href="#about.html" class="nav__link">About</a>
                    </li>
                    <li>
                        <a href="#services" class="nav__link">Categories</a>
                    </li>
                    <li>
                        <a href="#testimonial" class="nav__link">Testimonial</a>
                    </li>
                    <li>
                        <a href="login.html" class="nav__link">Login</a>
                    </li>
                </ul>

                <div class="nav__close" id="nav-close">
                    <i class="ri-close-fill"></i>
                </div>
            </div>

            <div class="nav__toggle" id="nav-toggle">
                <i class="ri-menu-fill"></i>
            </div>
        </nav>
    </header>

    <!-- MAIN -->
    <main class="main">

        <!-- HOME -->
        <section class="home" id="home">
            <div class="home__container container grid">
                <div class="home__data">
                    <h1 class="home__name">Mulai Belajar Anda Bersama SHUNA ACADEMY</h1>
                    <p class="home__work">
                        Bangun Portofolio anda pada bidang AI, Data Science, Cyber
                        Security dan Teknologi Informasi belajar melalui Shuna Academy
                    </p>
                </div>
            </div>
        </section>


        <!-- ABOUT -->
        <section class="hello section container" id="about">
            <h2 class="section__title">Kenapa harus belajar di Shuna Academy?</h2>
            <div class="services__container grid">

                <div class="about__item">
                    <div class="about__box">
                        <img src="asset/img/skkni.png" alt="" class="services__icon">
                    </div>
                    <h3 class="services__title text-lg">Kurikulum Berdasarkan Kebutuhan Industri</h3>
                    <p>
                        Hemat waktu dan biaya! Kurikulum dibuat agar lebih mudah dimengerti dan sesuai dengan
                        kebutuhan industri.
                    </p>
                </div>

                <div class="about__item">
                    <div class="about__box">
                        <img src="asset/img/serti.png" alt="" class="services__icon">
                    </div>
                    <h3 class="services__title text-lg">Sertifikat Pelatihan</h3>
                    <p>
                        Sebagai bukti penyelesaian course dan dapat digunakan untuk bersaing di dunia industri.
                    </p>
                </div>

                <div class="about__item">
                    <div class="about__box">
                        <img src="asset/img/pfolio.png" alt="" class="services__icon">
                    </div>
                    <h3 class="services__title text-lg">Portofolio industri</h3>
                    <p>
                        Setiap cource terdapat tugas akhir yang dapat dijadikan sebagai portofolio industri.
                    </p>
                </div>

                <div class="about__item">
                    <div class="about__box">
                        <img src="asset/img/pengajar.png" alt="" class="services__icon">
                    </div>
                    <h3 class="services__title text-lg">Pengajar Bersertifikat</h3>
                    <p>
                        Setiap pengajar memiliki sertifikat kompetensi dan berpengalaman di industri digital.
                    </p>
                </div>

                <div class="about__item">
                    <div class="about__box">
                        <img src="asset/img/consultant.png" alt="" class="services__icon">
                    </div>
                    <h3 class="services__title text-lg">Konsultasi Proyek</h3>
                    <p>
                        Bebas konsultasi proyek bersama pengajar secara langsung.
                    </p>
                </div>

                <div class="about__item">
                    <div class="about__box">
                        <img src="asset/img/flag.png" alt="" class="services__icon">
                    </div>
                    <h3 class="services__title text-lg">Bahasa Indonesia</h3>
                    <p>
                        Cource tersedia berupa text dan video berbahasa indonesia yang mudah dipahami.
                    </p>
                </div>


                <a href="asset/img/chandra-CV.pdf" class="button button--flex text-sm">
                    <i class="ri-download-line"></i>Download Catalog Kelas</a>
        </section>

        <!-- CATEGORY -->
        <section class="services section container" id="services">
            <h2 class="section__title">Bidang Pembelajaran</h2>

            <div class="services__container grid">
                <div class="services__item">
                    <div class="icon__box">
                        <img src="asset/img/ai.png" alt="" class="services__icon">
                        <div class="services__dot">
                            <span class="dot"></span>
                        </div>
                    </div>
                    <h3 class="services__title text-lg">Artificial Intelligence</h3>
                </div>

                <div class="services__item">
                    <div class="icon__box">
                        <img src="asset/img/data-science.png" alt="" class="services__icon">
                        <div class="services__dot">
                            <span class="dot"></span>
                        </div>
                    </div>
                    <h3 class="services__title text-lg">Data Science</h3>
                </div>

                <div class="services__item">
                    <div class="icon__box">
                        <img src="asset/img/dl.png" alt="" class="services__icon">
                        <div class="services__dot">
                            <span class="dot"></span>
                        </div>
                    </div>
                    <h3 class="services__title text-lg">Deep Learning</h3>
                    </p>
                </div>

                <div class="services__item">
                    <div class="icon__box">
                        <img src="asset/img/blockchain.png" alt="" class="services__icon">
                        <div class="services__dot">
                            <span class="dot"></span>
                        </div>
                    </div>
                    <h3 class="services__title text-lg">Blockchain</h3>
                </div>

                <div class="services__item">
                    <div class="icon__box">
                        <img src="asset/img/nlp.png" alt="" class="services__icon">
                        <div class="services__dot">
                            <span class="dot"></span>
                        </div>
                    </div>
                    <h3 class="services__title text-lg">NLP</h3>
                </div>

                <div class="services__item">
                    <div class="icon__box">
                        <img src="asset/img/data-mining.png" alt="" class="services__icon">
                        <div class="services__dot">
                            <span class="dot"></span>
                        </div>
                    </div>
                    <h3 class="services__title text-lg">Data Mining</h3>
                </div>

                <div class="services__item">
                    <div class="icon__box">
                        <img src="asset/img/cyber-security.png" alt="" class="services__icon">
                        <div class="services__dot">
                            <span class="dot"></span>
                        </div>
                    </div>
                    <h3 class="services__title text-lg">Cyber Security</h3>
                </div>

                <div class="services__item">
                    <div class="icon__box">
                        <img src="asset/img/fullstack.png" alt="" class="services__icon">
                        <div class="services__dot">
                            <span class="dot"></span>
                        </div>
                    </div>
                    <h3 class="services__title text-lg">FullStack Programming</h3>
                </div>

                <div class="services__item">
                    <div class="icon__box">
                        <img src="asset/img/ux-design.png" alt="" class="services__icon">
                        <div class="services__dot">
                            <span class="dot"></span>
                        </div>
                    </div>
                    <h3 class="services__title text-lg">UI UX</h3>
                </div>
            </div>
        </section>

        <!-- TESTIMONIAL -->
        <section class="services section container" id="testimonial">
            <h2 class="section__title">Testimonial Peserta</h2>
            <div class="slider">
                <div class="slides">
                    <div class="slide">
                        <img src="asset/img/testi1.jpg" alt="Aidan Azad">
                        <h3>Aidan Azad</h3>
                        <p>“Serunya ikut BOOTCAMP CNN, kami dapat belajar secara mandiri dengan Shuna Academy dan juga
                            Kelas Online bersama tim pengajar yang ahli di bidangnya serta adanya tugas akhir untuk
                            mengasah kemampuan kami dari BOOTCAMP CNN yang telah dilalui.”</p>
                    </div>
                    <div class="slide">
                        <img src="asset/img/testi2.jpg" alt="Afifa Aleena">
                        <h3>Afifa Aleena</h3>
                        <p>“Pemateri kompeten di bidangnya dan materi mudah dipahami, studi kasus yang diangkat sangat
                            relevan dengan isu saat ini. Dulu saya selalu mengikuti workshop-workshop dari Shuna
                            Academy.”</p>
                    </div>
                    <div class="slide">
                        <img src="asset/img/testi3.jpg" alt="Belva Citra">
                        <h3>Belva Citra</h3>
                        <p>“Untuk workshop yang tergolong singkat, materinya sudah cukup baik, ditambah pemateri yang
                            menguasai topik dan mampu menjelaskan dengan bahasa yang mudah dipahami kepada peserta yang
                            masih awam. Biayanya pun terjangkau. Maju terus Shuna Academy, ditunggu workshop
                            selanjutnya!”</p>
                    </div>
                </div>

                <div class="navigation">
                    <button data-slide="0" class="active">
                        <img src="asset/img/slider.png">
                    </button>
                    <button data-slide="1">
                        <img src="asset/img/slider.png">
                    </button>
                    <button data-slide="2">
                        <img src="asset/img/slider.png">
                    </button>
                </div>

            </div>
        </section>

        <!-- FOOTER -->
        <footer class="footer">
            <div class="footer-content">
                <div class="footer-section">
                    <img src="asset/img/logo-login.png" alt="" style="margin-bottom: 20px; max-width: 100%;">
                </div>

                <div class="footer-section">
                    <h4>Layanan</h4>
                    <ul>
                        <li><a href="#">Kelas</a></li>
                        <li><a href="#">Paket</a></li>
                        <li><a href="#">Program Beasiswa</a></li>
                        <li><a href="#">Program Bootcamp</a></li>
                        <li><a href="#">Challenge</a></li>
                    </ul>
                </div>

                <div class="footer-section">
                    <h4>Produk</h4>
                    <ul>
                        <li><a href="#">Artificial Intelligence</a></li>
                        <li><a href="#">Data Science</a></li>
                        <li><a href="#">Deep Learning</a></li>
                        <li><a href="#">Blockchain</a></li>
                        <li><a href="#">NLP</a></li>
                        <li><a href="#">Cyber Security</a></li>
                        <li><a href="#">fullstack Programming</a></li>
                        <li><a href="#">UI UX</a></li>
                    </ul>
                </div>

                <div class="footer-section">
                    <h4>Tentang Shuna Academy</h4>
                    <ul>
                        <li><a href="#">Peluang karir</a></li>
                        <li><a href="#">Keamanan, privasi & kepercayaan</a></li>
                        <li><a href="#">Tentang Shuna Academy</a></li>
                    </ul>
                </div>
                <div class="footer-section">
                    <h4>Follow Shuna Academy </h4>
                    <ul>
                        <li><a href="#">LinkedIn</a></li>
                        <li><a href="#">Youtube</a></li>
                        <li><a href="#">Instagram</a></li>
                    </ul>
                </div>
            </div>

            <div class="footer-section">
                <h4></h4>
            </div>

            <div class="footer-bottom">
                <p>© 2024 Shuna Academy</p>
                <ul>
                    <li><a href="#">Hubungi Shuna Academy</a></li>
                    <li><a href="#">Privasi</a></li>
                    <li><a href="#">Ketentuan penggunaan</a></li>
                </ul>
            </div>
            <button id="contact-btn">Hubungi kami</button>
        </footer>

        <!-- CONTACT -->
        <div id="contact-us-modal" class="contact-us-modal">
            <div class="contact-form-container">
                <span class="close-button">&times;</span>
                <h4>Selamat datang di Chat Support website Shuna Academy</h4>
                <p>Apabila kamu membutuhkan bantuan, silakan membalas pesan ini, dengan format.</p>
                <form>
                    <div class="form-group">
                        <input type="text" id="name" name="name" placeholder="Nama">
                    </div>
                    <div class="form-group">
                        <input type="email" id="email" name="email" placeholder="Email" required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="whatsapp" name="whatsapp" placeholder="No WhatsApp" required>
                    </div>

                    <div class="form-group">
                        <textarea type="textarea" id="pesan" name="pesan" placeholder="Pesan" required></textarea>
                    </div>

                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>

    </main>
    <script src="asset/js/main.js"></script>
    <script src="asset/js/script.js"></script>
</body>

</html>